.title {
    color: red;
    margin-left: 500px;
    }
.img1{
      width: 300px;
      height: 300px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-left: 600px;
    }
.img2{
      width: 300px;
      height: 300px;
      margin-left: 200px;
     
    }
.vid{
  margin-left: 500px;
}
